h1.left{
  border-bottom: 3px solid black;
    border-top: 3px solid black;
    text-align: left;
    padding: 10px 0px;
    width: 90%;
    margin: 20px auto 30px auto;
}

.eleft{
  text-align: left!important;
  margin-left: 2%!important;
  padding-top: 15px!important;
  padding-bottom: 15px!important;
  padding-left: 60px!important;
}