h1.left{
  border-bottom: 3px solid black;
    border-top: 3px solid black;
    text-align: left;
    padding: 10px 0px;
    width: 90%;
    margin: 20px auto 30px auto;
}

.info{
	text-align: center;
  margin: auto;
  width: 85%;
  border: 1px solid black;
  background-color: #DDDDDD;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  color: black;
}