/* Jaguar Reset CSS v1.0 2019 */
html { margin: 0; padding: 0; font-size: 62.5%; }
body { margin: 0; padding: 0; font-size: 1.6em; line-height: 1; }
a { vertical-align: baseline; background: transparent; text-decoration: none; color: inherit; white-space: nowrap; }
table { border-collapse: collapse; border-spacing: 0; }
ul { list-style: none; }
form { margin: 0; padding: 0; }
img { border: 0; }


table{ margin: 20px auto 30px auto; }
th{ background: #444; border: solid 1px #d3d3d3; color: #f8f8ff; padding: 10px; }
td{ border: solid 1px #d3d3d3; padding: 10px; }
/* Jaguar btn CSS v2.0 2019 7/12 */
input[type="submit"] {
	width: 100px;
	padding: 1em 0.5em;
	border-radius: 100px;
	background-image: linear-gradient(#ccc 0%, #444 100%);
	color: #fff;
	font-size: 8px;
	transition: 0.15s;
	outline: 0;
}

input[type="submit"]:hover {
	opacity: 0.8;
	cursor: pointer;
}

input[type="text"], input[type="password"] {
	width: 100%;
}

.center_btn_box {
	text-align: center;
	margin-bottom: 8px;
}

/* Jaguar Title CSS v2.0 2019 7/12 */
h1 {
	color: #4d4d4d;
	border-bottom: 3px solid #4d4d4d;
	border-top: 3px solid #4d4d4d;
	text-align: center;
	padding: 15px 0px;
	width: 90%;
	margin: 20px auto 30px auto;
}

h1.left {
	text-align: left;
}

/* Jaguar Message CSS v3.7 2019 7/12 */
.message {
	text-align: center;
	width: 85%;
	margin: 3px auto;
	padding: 25px 20px;
	font-weight: bold;
}

.eleft {
	text-align: left;
	margin-left: 5%;
	padding:15px 0 15px 60px!important;
}

.bg_blue {
	color: #0066CC;
    border: 1px solid #0066CC;
    background-color: #99CCFF;
}

.bg_green {
	color: #00CC00;
    border: 1px solid #00CC00;
    background-color: #CCFFCC;
}

.bg_red {
	color: #CC0000;
    border: 1px solid #CC0000;
    background-color: #FFEBE8;
}

/* Jaguar rowTable CSS v1.5 2019 7/12 */
table.row_table {
	width: 90%;
	padding: 10px;
}

table.row_table th {
	width: 25%;
	text-align: left;
}

/* Jaguar columnTable CSS v2.5 2019 7/12 */
table.column_table {
	width: 85%;
}

table.column_table th {
	text-align: center;
}

/*table.column_table td {}*/

/* ‚±‚±
jaguar.css -> table & row_table & column_table ‹¤—L‰Â•”•ªl@
*/