
.submit_btn_box {
	text-align: center;
	margin-bottom: 8px;
}

.box {
	width: 90%;
	margin: 0px auto 20px;
}

/* table input[type="text"], table input[type="password"]{
	width: 96%;
	background-color: #FFFFCC;
} */