@charset "UTF-8";
.box {
	width : 90%;
	margin: 0 auto;
}
.column-container {
	display: flex;
}

.item-image-box-320 {
	width: 260px;
	height: 260px;
}

table.details_table{
	width: 60%;
	padding: 10px;
	border-top: solid 1px #d3d3d3;
	border-left: solid 1px #d3d3d3;
	margin-right: 300px;
	margin-left: 40px;
	margin-bottom: 30px;
}

table.details_table th td{
	border-collapse: collapse;

}

table.details_table th{
	width: 35%;
	background-color: #444;
	color: white;
	border-right: solid 1px #d3d3d3;
	border-bottom: solid 1px #d3d3d3;
	text-align: center;
	padding: 10px;
}

table.details_table td{
	width: 70%;
	border-right: solid 1px #d3d3d3;
	border-bottom: solid 1px #d3d3d3;
	padding: 10px;
	text-align: left;
}

.taku {
	text-align: center;
}

.btn {
	width: 60%;
	margin-right: 300px;
	margin-left: 40px
}

h2 {
	text-align: center;
	margin-top: 50px;
}

.product-details-recommend-box {
	display: flex;
	justify-content: center;
}

.recommend-box {
	width: 30%;
	text-align: center;
}

.item-image-box-100 {
	width: 100px;
	height: 100px;
}
