html{ margin:0; padding:0; font-size:62.5%; }
body{ margin:0; padding:0; font-size:1.6em; line-height:1; }
a{ vertical-align:baseline; background:transparent; }
table{ border-collapse:collapse; border-spacing:0; }
ul{ list-style:none; }
form{ margin:0; padding:0; }
img{ border:0; }

h1 {
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    text-align: center;
    padding: 10px 0px;
    width: 90%;
    margin: 20px auto 30px auto;
}

table.horizontal-list-table{
  margin : auto;
  width: 85%;
}

table.horizontal-list-table th{
  text-align: center;
  color: #f8f8ff;
  background-color: #222222;
  border: 1px solid #c0c0c0;
  padding: 8px 14px;
}

table.horizontal-list-table td{
  padding: 4px 10px 4px;
  border: 1px solid #c0c0c0;
}

.info{
  text-align: center;
  width: 90%;
  margin-left: 2%;
  border: 1px solid blue;
  background-color: skyblue;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  color: blue;
}