@CHARSET "UTF-8";

.error_message {
text-align: center;
width: 85%;
margin: 0px auto;
color: #4d4d4d;
padding: 25px 10px;
margin-bottom: 7px;
border: 1px solid #ED6A6A;
background-color: #ED8E8E;
}